meta(charset="UTF-8")
title #{title}
meta(name="viewport" content="width=device-width,user-scalable=yes")
meta(name="format-detection" content="telephone=no")
meta(name="description" content=description)
meta(property="og:title" content=title)
meta(property="og:description" content=description)
meta(property="og:image" content=og_img)
meta(property="og:type" content=og_type)
meta(property="og:locale" content=og_locale)
meta(property="og:site_name" content=title)
meta(property="og:url" content=url)
meta(name="twitter:title" content=title)
meta(name="twitter:description" content=description)
meta(name="twitter:image" content=og_img)
meta(name="twitter:card" content=twitter_card)
meta(name="twitter:site" content=twitter_site)
meta(name="twitter:url" content=url)
link(rel="icon" href=favicon)
link( rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700;900&display=swap" )
link( rel="stylesheet" href="./css/style.min.css" )
link( src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous" )
